[exchange]
    # Пороговые значения для инструментов
    btc_threshold = "0.0008"
    usdt_threshold = "40"

    # Коэффициенты для вычисления цены ордеров
    sell_ratio = "1.0015"
    buy_ratio = "0.9985"

    # Коэффициенты для вычисления границ удержания ордеров
    lower_bound_ratio = "0.9995"
    upper_bound_ratio = "1.0005"

    # шаг цены и объема
    price_increment = 1.0
    size_increment  = 0.0001

[aeron]
    [aeron.subscribers]
        # Продолжительность для стратегии ожидания Aeron в мс
        idle_strategy_sleep_ms = 1

        # Subscriber для приёма биржевого стакана
        [aeron.subscribers.orderbooks]
            channel = "aeron:ipc"
            stream_id = 1006
            destinations = []

        # Subscriber для приёма баланса
        [aeron.subscribers.balances]
            channel = "aeron:ipc"
            stream_id = 1005
            destinations = []

    [aeron.publishers]
        # Publisher для отправки ордеров
        [aeron.publishers.gateway]
            channel = "aeron:ipc"
            stream_id = 1004
            buffer_size = 1400

        # Publisher для отправки метрик
        [aeron.publishers.metrics]
            channel = "aeron:udp?endpoint=3.66.183.27:44444"
            stream_id = 1001
            buffer_size = 1400

        # Publisher для отправки ошибок
        [aeron.publishers.errors]
            channel = "aeron:ipc"
            stream_id = 1008
            buffer_size = 1400
